* {
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

/* HEADER */
header {
	display: flex;
	background-color: rgb(116, 119, 191);
	padding: 1em 0%;
}

h1 {
	font-size: 20px;
	margin-right: 1em;
	margin-left: 0.5em;
}

h1,
h3 {
	font-weight: normal;
	color: white;
}
sup {
	font-size: 10px;
}

h1,
h3,
#bellIcon,
#profileAvatar {
	margin: auto;
}

h3 {
	font-size: 15px;
	margin-left: 0%;
}

.line {
	background-color: white;
	width: 1px;
	opacity: 0.2;
	margin: 0% 6px;
}

#bellIcon {
	width: 25px;
	height: 10%;
	margin-right: 0%;
	-web-kit-transition: all 0.1s;
}

#profileAvatar {
	width: 45px;
	height: auto;
	border-radius: 50%;
	margin-left: 0%;
}

/* NOTIFICATION STYLES */

.notification {
	text-decoration: none;
	display: inline-block;
}

#bellIcon:hover {
	transform: scale(1.1);
	transition: all 0.2s ease-in-out;
}

.notification .badge {
	position: absolute;
}

.badge {
	color: rgb(129, 201, 143);
	font-size: 0.4em;
}

/* NAVBAR */

nav {
	background-color: rgb(77, 76, 114);
	display: flex;
	justify-content: space-between;
	padding: 1em 10%;
}

.nav-icons {
	width: 35px;
	height: auto;
}

a {
	display: flex;
	justify-content: center;
}

/* MAIN STYLES */
.dash {
	background-color: #e5e5e5;
}
h2 {
	font-weight: normal;
	background: white;
	font-size: 20px;
	width: 40%;
	padding: 0.5em;
	padding-right: 0%;
	border-right: 1px solid grey;
	display: flex;
	justify-content: center;
}

/* ALERT BUTTON  */
#alert {
	display: flex;
	justify-content: space-between;
	margin: 1em 1em;
	padding: 1em;
	background-color: rgb(116, 119, 191);
	border-radius: 5px;
}
h4 {
	font-size: 15px;
	font-weight: lighter;
	color: white;
}
.alert-button {
	background-color: rgb(116, 119, 191);
	border: none;
	cursor: pointer;
}
#x {
	background-color: rgb(116, 119, 191);
	font-size: 15px;
	color: white;
}

/* MOBILE RESPONSIVE */
@media (min-width: 768px) {
	.grid-container {
		height: 100vh;
		display: grid;
		grid-template-columns: 5vh 1fr;
		grid-template-rows: 6% 1fr;
	}
	.header {
		grid-column: 1/3;
	}
	.nav {
		grid-row: 2/3;
	}
	header {
		display: flex;
		background-color: rgb(116, 119, 191);
		padding: 1em 0%;
	}
	/* HEADER 768PX DISPLAY */
	h1 {
		font-size: 25px;
		margin-left: 0.5em;
	}

	sup {
		font-size: 10px;
	}

	h3,
	#profileAvatar,
	.line,
	#bellIcon {
		margin-left: 0%;
		margin-right: 0%;
	}

	h3 {
		font-size: 15px;
		margin-left: 1%;
		margin-right: 0.2em;
	}

	.line {
		background-color: white;
		width: 0.5px;
		opacity: 0.5;
		margin: 0% 1em;
		height: 5vh;
	}
	#bellIcon {
		width: 25px;
		height: auto;
	}

	#profileAvatar {
		width: 40px;
	}

	/* NAVBAR 768PX DISPLAY */
	/* NAVBAR */
	nav {
		background-color: rgb(77, 76, 114);
		display: flex;
		flex-direction: column;
		justify-content: right;
		padding: 15% 10%;
	}
	a:first-child {
		margin-top: 20%;
	}
	.nav-icons {
		width: 55%;
		height: auto;
		padding-bottom: 55%;
	}

	h2 {
		width: 20%;
	}
}

@media (min-width: 1024px) {
	#profileAvatar {
		width: 40px;
	}
	#bellIcon {
		width: 25px;
		height: auto;
	}
	h1 {
		font-size: 20px;
	}
	h3 {
		font-size: 15px;
		margin-left: 1em;
		margin-right: 0.5em;
	}

	h2 {
		width: 15%;
	}

	.line {
		background-color: white;
		width: 0.5px;
		opacity: 0.5;
		height: 6vh;
	}
}
